<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<add key="ConnStr" value="Server=mssql4.nextmill.net;uid=lorddesign_admin;pwd=jer2911;Database=lorddesign"/>
		<add key="MailServer" value="smtp1.nextmill.net"/>
		<!--<add key="MailServer" value="mail1nf.nextmill.net"/>-->
		<add key="MailFrom" value="error@lorddesign.net"/>
		<add key="MailTo" value="support@lorddesign.net"/>
		<add key="DevMailTo" value="support@lorddesign.net"/>
	</appSettings>
	<system.web>
		<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.0">
			<buildProviders>
				<add extension=".html" type="System.Web.Compilation.PageBuildProvider"/>
			</buildProviders>
		</compilation>
		<httpModules>
			<add name="RedirModule" type="RedirModule"/>
		</httpModules>
		<httpHandlers>
			<add path="*.html" verb="*" type="System.Web.UI.PageHandlerFactory" validate="true"/>
		</httpHandlers>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.webServer>
		<handlers>
			<remove name="PageHandlerFactory-ISAPI-2.0"/>
			<add name="HTML by .NET" path="*.html" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness64"/>
			<add name="Perl CGI" path="*.cgi" verb="*" modules="CgiModule" scriptProcessor="C:\Perl64\bin\perl.exe &quot;%s&quot; %s" resourceType="Unspecified"/>
			<add name="PageHandlerFactory-ISAPI-2.0" path="*.aspx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32" responseBufferLimit="0"/>
		</handlers>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
</configuration>
